@import "../../App.scss";

.trustedBy {
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: lightgray;
    font-weight: 500;

    @include mobile {
      gap: 10px;
    }

    span {
      @include tablet {
        display: none;
      }
    }

    img {
      @include mobile {
        max-width: 50px;
        object-fit: contain;
      }
    }
  }
}
