@import "../../App.scss";
.featured {
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: var(--cl-secondary);
  color: var(--cl-white);

  @include mobile {
    height: 350px;
  }

  .container {
    display: flex;
    align-items: center;
    // gap: 50px;
    justify-content: space-between;

    @include tablet {
      justify-content: center;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        max-width: 600px;
        font-size: 50px;

        @include mobile {
          font-size: 32px;
          max-width: 300px;
        }

        i {
          font-weight: 300;
          font-family: cursive;
        }
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--cl-white);
        border-radius: 5px;

        @include mobile {
          background-color: transparent;
          flex-direction: column;
          gap: 10px;
          align-items: normal;
        }

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;
          flex-grow: 1;
          margin-left: 15px;

          @include mobile {
            background-color: var(--cl-white);
            margin-left: 0;
          }

          img {
            width: 20px;
            height: 20px;

            @include mobile {
              margin-left: 15px;
            }
          }

          input {
            border: none;
            outline: none;
            font-size: 16px;
            padding: 10px;
            flex: 1;

          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: var(--cl-primary);
          color: var(--cl-white);
          font-weight: 500;
          font-size: 18px;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          @include mobile {
            width: inherit;
            border-radius: 5px;
          }

          &:hover {
            background-color: #19a463;
          }
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        @include mobile {
          display: none;
        }

        button {
          color: var(--cl-white);
          background-color: transparent;
          border: 1px solid var(--cl-white);
          padding: 5px 10px;
          font-size: 14px;
          border-radius: 20px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: var(--cl-white);
            color: var(--cl-black);
          }
        }
      }
    }

    .right {
      height: 100%;

      @include tablet {
        display: none;
      }
      img {
        width: 500px;
        object-fit: contain;
      }
    }
  }
}
