.navbar {
  background-color: var(--cl-secondary);
  color: var(--cl-white);
  transition: 0.5s all ease;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;

  &.active {
    background-color: var(--cl-white);
    color: var(--cl-black);

    .join {
      color: var(--cl-primary) !important;
      border-color: var(--cl-primary) !important;

      &:hover {
        color: var(--cl-white) !important;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .logo {
      font-size: 34px;
      font-weight: bold;

      .dot {
        color: var(--cl-primary);
      }
    }

    .links {
      display: flex;
      gap: 24px;
      align-items: center;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;

      span {
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
          color: var(--cl-primary);
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 50%;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: var(--cl-white);
          border-radius: 10px;
          border: 1px solid lightgray;
          display: flex;
          flex-direction: column;
          color: gray;
          width: 200px;
          font-weight: 300;
          z-index: 3;

          a {
            padding: 5px;

            &:hover {
              color: var(--cl-primary);
            }
          }
        }
      }

      button {
        color: var(--cl-white);
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: var(--cl-primary);
          border-color: var(--cl-primary);
        }
      }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid var(--cl-gray);
  }
  .menu {
    font-weight: 300;
    color: gray;
    font-family: "Montserrat", sans-serif;

    .container {
      padding: 10px 0;
    }

    .menuLink {
      color: var(--cl-pColor);
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -11px;
        height: 3px;
        background: var(--cl-primary);
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s ease-in-out;
        width: 0;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}
