:root {
  --cl-primary: #1dbf73;
  --cl-secondary: #013914;
  --cl-white: #fff;
  --cl-black: #000;
  --cl-gray: #ebe9e9;
}

.container {
  width: min(100% - clamp(3rem, 5vw + 1.25rem, 4.375rem), 1050px);
  margin: auto;
}

* {
  .link {
    text-decoration: none;
    color: inherit;
  }
}
