:root {
  --cl-primary: #1dbf73;
  --cl-secondary: #013914;
  --cl-white: #fff;
  --cl-black: #000;
  --cl-gray: #ebe9e9;
  --cl-heading: #404145;
  --cl-pColor: #62646a;
}

.container {
  width: min(100% - clamp(3rem, 5vw + 1.25rem, 4.375rem), 1300px);
  margin: auto;
}

ol,
ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

* {
  .link {
    text-decoration: none;
    color: inherit;
  }
}

// Media Querires
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}


body.nav-active {
  overflow: hidden;
}